#linkedin-people-page{
        width: 300px;
        height: 200px;
        display: flex;;
        justify-content: center;
        flex-direction: column;
}
font{
        text-align: center;
        color: blueviolet !important;
}
#linkedin-people-page > * {
        color: aliceblue;
}
h1{
        color:black !important;
        font-size: 300%;
        text-align: center;
        margin: 10px;
}
button{
        height: 40px;
        border-radius: 20px;
}
.connect{
        display: block;
        background-color: #60d186;
        margin: 10vw;
}
.stopconnecting{
        display: none;
        background-color: #e02a0a;
        margin: 10vw;
}
